<!--
 * @Descripttion: 我见青山多妩媚
 * @Date: 2022-01-10 16:36:21
 * @LastEditTime: 2022-01-10 17:09:25
-->

<!doctype html>
<html>
<head>
<title>白鹿书院_书友最值得收藏的网络小说阅读网</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="白鹿书院,网络小说,小说阅读网,小说" />
<meta name="description" content="白鹿书院是广大书友最值得收藏的网络小说阅读网，网站收录了当前最火热的网络小说，免费提供高质量的小说最新章节，是广大网络小说爱好者必备的小说阅读网。" />
<link rel="stylesheet" type="text/css" href="static/css/biquge.css"/>
<script type="text/javascript" src="//libs.baidu.com/jquery/1.4.2/jquery.min.js"></script>
<!--<script type="text/javascript" src="//cbjs.baidu.com/js/m.js"></script>-->
<script type="text/javascript" src="/static/js/bqg.js"></script>
</head>
<body>
    <div id="wrapper">
        <!-- <script>login();</script> -->

        <div class="header">
        
            <div class="header_logo">
                <a href="#" >白鹿书院</a>
            </div>
            <script>bqg_panel();</script>
        
        </div>
        <div class="nav">
            <ul>
                <li><a href="#">首页</a></li>
                {{ range $v := .menu}}
                <li><a href="/book_type/{{$v.Path}}/1">{{$v.Text}}</a></li>
               {{ end }}
            </ul>
        </div>
<script type="text/javascript">top_bar();</script>
 
        <div id="main">
        <div id="content">
<style type="text/css">
ul,li{margin:0;padding:0;}
#boxcase{margin:10px auto;width:975px;border:1px dashed #88C6E5;position:relative;}
#boxcase .title{top:-15px;width:100%;height:30px;line-height:30px;position:absolute;font-size:14px;color:#000;text-align:center;}
#boxcase .title span{background-color:#E9FAFF;}
#boxcase ul{padding:10px 20px 30px 20px;}
#boxcase ul li{float:left;width:25%;height:25px;line-height:25px;font-size:14px;color:#000;text-align:left; }
#boxcase ul li a{line-height:30px;font-size:14px;color:#FF0000; text-decoration:none;}
#boxcase ul li a:hover{color:#ff6600;}
</style>
<form action="" method="post" name="checkform" id="checkform" onsubmit="return check_confirm();">
<div class="gridtop">
搜索“”结果
  </div>
<table class="grid" width="100%" align="center">
  <tr align="center">
    <th width="21%">文章名称</th>
    <!-- <th width="30%">最新章节</th> -->
    <th width="30%">作者</th>
    <th width="37%">更新</th>
  </tr>


  <!-- <tr>
    <td class="even"><a href="https://www.xbiquge.la/48/48157/" target="_blank">娘娘她总是不上进</a></td>
    <td class="odd"><a href="/48/48157/24085974.html" target="_blank">第0761章 终结</a>
    
    </td>
    <td class="even">雪中回眸</td>
    <td class="odd" align="center">05-03    </td>
  </tr> -->

  {{ range $v := .detail}}
  <tr>
    <td class="even"><a href="/book_detail/{{$v.Id}}" target="_blank">{{$v.Name}}</a></td>
    <!-- <td class="odd"><a href="/book_read/{{$v.Id}}/{{$v.LatestChapter.Chapterid}}" target="_blank">{{$v.LatestChapter.Chaptername}}</a></td> -->
    <td class="even">{{$v.Author}}</td>
    <td class="odd" align="center">{{$v.Lastupdate}}</td>
  </tr>
 {{ end }}



</table>

</div>
        </div>

        </div>

        
        <div class="dahengfu"><script type="text/javascript">bottom();</script></div>
<div class="footer">
            <div class="footer_link"></div>
            <div class="footer_cont">
                <script>footer();right();dl();</script>
            </div>
        </div>    
</body>
<script charset="utf-8" src="//www.baidu.com/js/opensug.js"></script>
</html>