
<!doctype html>
<html>
<head>
  {{$image := .image}}
  {{$vv:= index .hotData 0}}
  {{$defaultImage :=.hostDefaultImage}}
<title>{{$vv.BookType.Text}}_好看的{{$vv.BookType.Text}}_2022{{$vv.BookType.Text}}排行榜_悠哉文学网</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="悠哉文学网,网络小说,小说阅读网,小说" />
<meta name="description" content="悠哉文学网是广大书友最值得收藏的网络小说阅读网，网站收录了当前最火热的网络小说，免费提供高质量的小说最新章节，是广大网络小说爱好者必备的小说阅读网。" />
<link rel="stylesheet" type="text/css" href="/static/css/biquge.css"/>
<script type="text/javascript" src="//libs.baidu.com/jquery/1.4.2/jquery.min.js"></script>
<!-- <script src="/js/pc_pf.js"></script> -->
<!--<script type="text/javascript" src="//cbjs.baidu.com/js/m.js"></script>-->
<script type="text/javascript" src="/static/js/bqg.js?12"></script>
</head>
<body>
  <div id="wrapper">
    <!-- <script>login();</script> -->

    <div class="header">
    
      <div class="header_logo">
        <a href="#" >悠哉文学网</a>
      </div>
      <script>bqg_panel();</script>
    
    </div>
    <div class="nav">
      <ul>
        <li><a href="/">首页</a></li>

        {{ range $v := .menu}}
        <li><a href="/{{$v.Path}}/1">{{$v.Text}}</a></li>
       {{ end }}
      </ul>
    </div>
<!-- <script type="text/javascript">top_bar();</script> -->
 
  <div id="main">
    <div id="content">
      <div id="hotcontent"><div class="ll">
      {{ range $v := .hotData}}
      <div class="item">
        <!-- <div class="image"><a href="/book_detail/{{$v.Id}}"><img src="{{ $image }}/{{$v.Cover}}" alt="{{$v.Name}}"  width="120" height="150" onerror="this.src='/static/images/nocover.jpg'"/></a></div> -->
        <div class="image"><a href="/book_detail/{{$v.Id}}/c_1"><img src="{{ $image }}/{{$v.Cover}}" alt="{{$v.Name}}"  width="120" height="150" onerror="this.src='{{$defaultImage}}'" /></a></div>
        <dl>
           <dt><span>{{$v.Author}}</span><a href="/book_detail/{{$v.Id}}/c_1">{{$v.Name}}</a></dt>
           <dd>{{$v.Desc}}</dd>
        </dl>
        <div class="clear"></div>
      </div>
     {{ end }}
     </div>
  </div>

<!-- <div class="dahengfu"><script type="text/javascript">common_mid();</script></div> -->

<div id="newscontent">
<div class="l">
<h2>好看的{{$vv.BookType.Text}}最近更新列表</h2>
<ul>

{{ range $v := .detail}}
<li><span class="s2">《<a href="/book_detail/{{$v.Id}}/c_1" target="_blank">{{$v.Name}}</a>》</span><span class="s3"><a href="/book_detail/{{$v.Id}}/r_{{$v.LatestChapter.Chapterid}}" target="_blank">{{$v.LatestChapter.Chaptername}}</a>(01-10)</span><span class="s5">{{$v.Author}}</span></li>
{{ end }}
</ul>

<div class="page_b">
<table style="">
  <tr><td>
    <div class="pagelink" id="pagelink">
    <a href="/category/{{$vv.BookType.Path}}/{{.prevPage}}">上一页</a>
    <a href="/category/{{$vv.BookType.Path}}/{{.nextPage}}">下一页</a>
    <kbd>
    </kbd>
  </div>
</td></tr></table>
</div>
</div>
<div class="r">
<h2>好看的{{$vv.BookType.Text}}</h2>
<ul>
{{ range $v := .detail}}
<li><span class="s2"><a href="/book_detail/{{$v.Id}}/c_1">{{$v.Name}}</a></span><span class="s5">{{$v.Author}}</span></li>
{{ end }}

</ul>
<div class="page_b page_b2">喜欢就收藏我们</div>
</div>
<div class="clear"></div></div>
</div>
</div>
        </div>
    </div>
        <div class="dahengfu">
          <!-- <script type="text/javascript">bottom();</script> -->
        </div>

<div class="footer">
    <div class="footer_link"></div>
    <div class="footer_cont">
      
    <script>footer();dl();</script>
    <script charset="utf-8" src="//www.baidu.com/js/opensug.js"></script>
  </div>
</div>
<script>
    (function(){
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>



        
  </div>
</body>
</html>