<!doctype html>
<html>
<head>
  {{$defaultImage :=.hostDefaultImage}}
<title>悠哉文学网_书友最值得收藏的网络小说阅读网</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="悠哉文学网,网络小说,小说阅读网,小说,无弹窗小说,下载小说" />
<meta name="description" content="悠哉文学网是广大书友最值得收藏的网络小说阅读网，网站收录了当前最火热的网络小说，免费提供高质量的小说最新章节，是广大网络小说爱好者必备的小说阅读网。" />
<link rel="stylesheet" type="text/css" href="static/css/biquge.css"/>
<script type="text/javascript" src="//libs.baidu.com/jquery/1.4.2/jquery.min.js"></script>
<!--<script type="text/javascript" src="//cbjs.baidu.com/js/m.js"></script>-->
<script type="text/javascript" src="/static/js/bqg.js"></script>
</head>
<body>
    <div id="wrapper">
        <!-- <script>login();</script> -->
        <div class="header">
            <div class="header_logo">
                <a href="#" >悠哉文学网</a>
            </div>
            <script>bqg_panel();</script>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/">首页</a></li>
                {{ range $v := .menu}}
                <li><a href="/{{$v.Path}}/1">{{$v.Text}}</a></li>
               {{ end }}
            </ul>
        </div>
<!-- <script type="text/javascript">top_bar();</script> -->
        <div id="main">
        <div id="content">
<style type="text/css">
ul,li{margin:0;padding:0;}
#boxcase{margin:10px auto;width:975px;border:1px dashed #88C6E5;position:relative;}
#boxcase .title{top:-15px;width:100%;height:30px;line-height:30px;position:absolute;font-size:14px;color:#000;text-align:center;}
#boxcase .title span{background-color:#E9FAFF;}
#boxcase ul{padding:10px 20px 30px 20px;}
#boxcase ul li{float:left;width:25%;height:25px;line-height:25px;font-size:14px;color:#000;text-align:left; }
#boxcase ul li a{line-height:30px;font-size:14px;color:#FF0000; text-decoration:none;}
#boxcase ul li a:hover{color:#ff6600;}
</style>
<form action="" method="post" name="checkform" id="checkform" onsubmit="return check_confirm();">
<div class="gridtop">
搜索“{{.keyWord}}”结果
  </div>
<table class="grid" width="100%" align="center">
  <tr align="center">
    <th width="21%">文章名称</th>
    <!-- <th width="30%">最新章节</th> -->
    <th width="30%">作者</th>
    <th width="37%">更新</th>
  </tr>
  {{ range $v := .detail}}
  <tr>
    <td class="even"><a href="/book_detail/{{$v.Id}}/c_1" target="_blank">{{$v.Name}}</a></td>
    <td class="even"><a href="/search_author?author={{$v.Author}}">{{$v.Author}}</a></td>
    <td class="odd" align="center">{{$v.Lastupdate}}</td>
  </tr>
 {{ end }}



</table>
</div>
        </div>
        </div>
        <div class="dahengfu">
        </div>
<div class="footer">
            <div class="footer_link"></div>
            <div class="footer_cont">
                <script>footer();dl();</script>
            </div>
</div>   
</body>




<script charset="utf-8" src="//www.baidu.com/js/opensug.js"></script>
</html>