
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{.detail.BookInfo.Name}}_正文卷 {{.detail.Chaptername}}_{{.detail.BookInfo.BookType.Text}}_白鹿书院</title>
<meta name="keywords" content="{{.detail.BookInfo.Name}} {{.detail.Chaptername}}" />
<meta name="description" content="白鹿书院提供了{{.detail.BookInfo.Author}}创作的都市小说《{{.detail.BookInfo.Name}}》干净清爽无错字的文字章节：正文卷 {{.detail.Chaptername}}在线阅读。" />
<link rel="stylesheet" type="text/css" href="/static/css/biquge.css"/>
<script type="text/javascript" src="//libs.baidu.com/jquery/1.4.2/jquery.min.js"></script>
<!-- <script src="/js/pc_pf.js"></script> -->
<script type="text/javascript" src="/static/js/bqg.js"></script>

<script type="text/javascript">
// <!--
// var preview_page = "index.html";
// var next_page = "32754541.html";
// var index_page = "index.html";
// var article_id = "84522";
// var chapter_id = "32754540";
// function jumpPage() {
//   var event = document.all ? window.event : arguments[0];
//   if (event.keyCode == 37) document.location = preview_page;
//   if (event.keyCode == 39) document.location = next_page;
//   if (event.keyCode == 13) document.location = index_page;
// }
// document.onkeydown=jumpPage;
// -->
</script>

</head>
<body>
    <div id="wrapper">
        <!-- <script>login();</script> -->
        <div class="header">
            <div class="header_logo">
                <a href="#">白鹿书院</a>
            </div>
            <script>bqg_panel();</script>
        </div>
        <div class="nav">
            <ul>
                <li><a href="https://xbiquge.la/">首页</a></li>
                {{ range $v := .menu}}
                <!-- <li><a href="{{$v.Path}}">{{$v.Text}}</a></li> -->
                <li><a href="/book_type/{{$v.Path}}/1">{{$v.Text}}</a></li>
               {{ end }}
            </ul>
        </div>
        
        <div class="content_read">
            <div class="box_con">
                <div class="con_top">
                    <script>textselect();</script>
                    <a href="/">白鹿书院</a> &gt; <a href="{{.detail.BookInfo.BookType.Path}}">{{.detail.BookInfo.BookType.Text}}</a> &gt; <a href="/book_detail/{{.detail.BookInfo.Id}}">{{.detail.BookInfo.Name}}</a> &gt; 正文卷 {{.detail.Chaptername}}               </div>
                <div class="bookname">
                    <h1>正文卷 {{.detail.Chaptername}}</h1>
                    <div class="bottem1">
                        <a href="javascript:;" onclick="showpop_vote(84522);">投推荐票</a> 
                        <a href="/book_read/{{.detail.BookInfo.Id }}/{{.detail.Prev}}">上一章</a> &larr; 
                        <a href="/book_detail/{{.detail.BookInfo.Id}}">章节目录</a> &rarr;
                         <a href="/book_read/{{.detail.BookInfo.Id }}/{{.detail.Next}}">下一章</a> 
                        <a href="javascript:;" onclick="showpop_addmark(84522,32754540);">加入书签</a>
                    </div>
                                        <!-- <div id="listtj">&nbsp;推荐阅读：<a href="/9/9785/" target="_blank">剑卒过河</a>、<a href="/0/10/" target="_blank">武炼巅峰</a>、<a href="/26/26874/" target="_blank">沧元图</a>、<a href="/32/32626/" target="_blank">叶辰孙怡夏若雪</a>、<a href="/15/15409/" target="_blank">牧神记</a>、<a href="/0/951/" target="_blank">伏天氏</a>、<a href="/13/13959/" target="_blank">圣墟</a>、<a href="/2/2029/" target="_blank">极品透视</a>、<a href="/26/26511/" target="_blank">剑徒之路</a>、<a href="/1/1988/" target="_blank">龙城</a>、<a href="/30/30581/" target="_blank">顶级神豪</a>、<a href="/7/7552/" target="_blank">万古神帝</a>、<a href="/2/2210/" target="_blank">全职法师</a>、<a href="/31/31566/" target="_blank">数风流人物</a>、<a href="/0/656/" target="_blank">莽荒纪</a></div> -->
                </div>
                <table style="width:100%; text-align:center;"><tr><td><script>read_1_1();</script></td><td><script>read_1_2();</script></td><td><script>read_1_3();</script></td></tr></table>
                <div id="content">
                    {{.detail.Chaptercontent}}


<!-- <br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;是在军训么？
<br />
<br />&nbsp;&nbsp;&nbsp;&nbsp;此时此刻，他身处的地方是——大型选秀综艺《创造偶像》的录睡现场！<br /><br /> -->

<p><a href="http://koubei.baidu.com/s/xbiquge.la" target="_blank">亲,点击进去,给个好评呗,分数越高更新越快,据说给白鹿书院打满分的最后都找到了漂亮的老婆哦!</a>
    <br />手机站全新改版升级地址：https://wap.xbiquge.la，数据和书签与电脑站同步，无广告清新阅读！
</p></div>
                <script>read3();</script><script>bdshare();</script>
                <div class="bottem2">
                    <!-- <a href="javascript:;" onclick="showpop_vote(84522);">投推荐票</a> 
                    <a href="/84/84522/">上一章</a> &larr; 
                    <a href="https://www.xbiquge.la/84/84522/">章节目录</a> &rarr;
                     <a href="/84/84522/32754541.html">下一章</a> 
                     <a href="javascript:;" onclick="showpop_addmark(84522,32754540);">加入书签</a> -->

                     <a href="/book_read/{{.detail.BookInfo.Id }}/{{.detail.Prev}}">上一章</a> &larr; 
                     <a href="/book_detail/{{.detail.BookInfo.Id}}">章节目录</a> &rarr;
                      <a href="/book_read/{{.detail.BookInfo.Id }}/{{.detail.Next}}">下一章</a> 
                     <a href="javascript:;" onclick="showpop_addmark(84522,32754540);">加入书签</a>


                </div>
                <script>read4();</script>
                <div id="hm_t_54219"></div>
            </div>
        </div>
        <div class="footer">
                     <!-- <div class="footer_link">&nbsp;新书推荐：<a href="/93/93811/" target="_blank">晚风吹过了城南</a>、<a href="/93/93810/" target="_blank">战爷，你家萌妻不是人</a>、<a href="/93/93809/" target="_blank">穆少他又毁我桃花</a>、<a href="/93/93808/" target="_blank">漫漫时光只甜你</a>、<a href="/93/93807/" target="_blank">小弟个个是大佬</a></div> -->
            <div class="footer_cont">
                <script>footer();right();dl();</script>
                <!--<script>mark();</script>-->
                <div class="reader_mark1"><a href="javascript:;" onclick="showpop_addmark(84522,32754540);"></a></div>
                <div class="reader_mark0"><a href="javascript:;" onclick="showpop_vote(84522);"></a></div>
            </div>
        </div>
    </div>
</body>
<script charset="utf-8" src="//www.baidu.com/js/opensug.js"></script>
<script>
    (function(){
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
</html>