
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{{$image := .image}}
{{$bookId :=.detail.BookInfo.Id}}
{{$defaultImage :=.hostDefaultImage}}
{{$Spage :=.page}}
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{.detail.BookInfo.Name}}_悠哉文学网</title>
<meta name="keywords" content="{{.detail.BookInfo.Name}}最新章节" />
<meta name="description" content="如果您喜欢小说{{.detail.BookInfo.Name}}最新章节目录加入收藏方便您下次阅读,悠哉文学网将在第一时间更新小说{{.detail.BookInfo.Name}}，发现没及时更新，请告知我们,谢谢!" />
<link rel="stylesheet" type="text/css" href="/static/css/biquge.css"/>
<!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css"/> -->
<script type="text/javascript" src="//libs.baidu.com/jquery/1.4.2/jquery.min.js"></script>
<!--<script type="text/javascript" src="//cbjs.baidu.com/js/m.js"></script>-->
<script type="text/javascript" src="/static/js/bqg.js"></script>
<!-- <script type="text/javascript" src="/static/js/pc_pf.js"></script> -->
<script language="javascript" type="text/javascript">var bookid = "84522"; var booktitle = "{{.detail.BookInfo.Name}}";</script>
<meta property="og:type" content="novel"/>
<meta property="og:title" content="{{.detail.BookInfo.Desc}}"/>
<meta property="og:description" content=" {{.detail.BookInfo.Name}}"/>
<meta property="og:image" content="{{ $image }}/{{.detail.BookInfo.Cover}}"/>
<meta property="og:novel:category" content="{{.detail.BookInfo.BookType.Text}}"/>
<meta property="og:novel:author" content="{{.detail.BookInfo.Author}}"/>
<meta property="og:novel:book_name" content="{{.detail.BookInfo.Name}}"/>
<meta property="og:novel:read_url" content="/book_detail/{{.detail.BookInfo.Id}}/c_1"/>
</head>
<body>
    <div id="wrapper">
        <!-- <script>login();</script> -->
        <div class="header">
            <div class="header_logo">
                <a href="/">悠哉文学网</a>
            </div>
            <script>bqg_panel();</script>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/">首页</a></li>
                {{ range $v := .menu}}
                <li><a href="/{{$v.Path}}/1">{{$v.Text}}</a></li>
               {{ end }}
            </ul>
        </div>
<!-- <script type="text/javascript">list_top();</script> -->
        <div class="box_con">
            <div class="con_top">
                <div id="bdshare" class="bdshare_b" style="line-height: 12px;"><img src="" /><a class="shareCount"></a></div>
                <a href="/">悠哉文学网</a> &gt; <a href=" /category/{{.detail.BookInfo.BookType.Path}}/1">{{.detail.BookInfo.BookType.Text}}</a>  &gt; {{.detail.BookInfo.Name}}最新章节目录
            </div>
            <div id="maininfo">   
                <div id="info">
                    <h1>{{.detail.BookInfo.Name}}</h1>
                    <!-- <p>作&nbsp;&nbsp;&nbsp;&nbsp;者：<a href="/search_author/{{.detail.BookInfo.Author}}">{{.detail.BookInfo.Author}} </a></p> -->
                    <p>作&nbsp;&nbsp;&nbsp;&nbsp;者：<a  onclick="search_author()" href="#">{{.detail.BookInfo.Author}} </a></p>
                    <p>最后更新：{{.detail.BookInfo.Lastupdate}}</p>
                    <p>最新章节：<a href="/book_detail/{{.detail.BookInfo.Id}}/r_{{.detail.BookInfo.LatestChapter.Chapterid}}">{{.detail.BookInfo.LatestChapter.Chaptername}}</a></p>
                </div>
                <div id="intro">
                                        <p><font style="color:#0066FF"><a href='##' target='_blank'>手机阅读《{{.detail.BookInfo.Name}}》无弹窗纯文字全文免费阅读</a></font>
 
                                        </p>
                                        
                    <p>{{.detail.BookInfo.Desc}}</p>
                </div>
            </div>
            <div id="sidebar">
                <!-- <div id="fmimg"><img alt="{{.detail.BookInfo.Name}}" src="{{ $image }}/{{.detail.BookInfo.Cover}}" width="120" height="150" onerror="this.src='/static/images/nocover.jpg'" /><span class="b"></span></div> -->
                <div id="fmimg"><img alt="{{.detail.BookInfo.Name}}" src="{{ $image }}/{{.detail.BookInfo.Cover}}" width="120" height="150" onerror="this.src='{{$defaultImage}}'" /><span class="b"></span></div>
            </div> 
            <div id="listtj">&nbsp;推荐阅读：
                {{ range $v := .detail.Recommend}}
                <a href="/book_detail/{{$v.Id}}/c_1" target="_blank">{{$v.Name}}</a>、
                {{ end }}
            </div>
        </div>
        
        <div class="dahengfu">
        </div>
        

        {{$bookID := .detail.BookInfo.Id}}
        <div class="box_con">
            <div id="list">
                <dl>  
                    {{ range $v := .detail.Chapters}}
                    <dd><a href='/book_detail/{{ $bookID }}/r_{{$v.Chapterid}}' >{{$v.Chaptername}}</a></dd>
                    {{ end }}
                </dl>
            </div>
            <div class="listpage">
                <span class="left"><a href="/book_detail/{{.detail.BookInfo.Id}}/c_{{.prevPage}}" class="onclick">上一页</a></span>
                <span class="middle">
                <select name="pageselect" onchange="self.location.href=options[selectedIndex].value">
                   
                    {{ range $v := .chapterList}}
                    {{if  eq $v.Page $Spage }} 
                    <option value="/book_detail/{{$bookId}}/c_{{$v.Page}}" selected>{{$v.Text}}</option>
                    {{else}} 
                    <option value="/book_detail/{{$bookId}}/c_{{$v.Page}}" >{{$v.Text}}</option>
                    {{end}}
                   {{ end }}
                </select>
            </span>
            <span class="right"><a href="/book_detail/{{.detail.BookInfo.Id}}/c_{{.nextPage}}" class="onclick">下一页</a></span>
            
            </div>
        </div>
        
        <div class="dahengfu">
            <!-- <script type="text/javascript">list_bot();</script> -->
        </div>
        
        <div id="footer" name="footer">
            <div class="footer_link">&nbsp;新书推荐：
                {{ range $v := .detail.Recommend}}
                <a href="/book_detail/{{$v.Id}}/c_1" target="_blank">{{$v.Name}}</a>、
                {{ end }}
            </div>
            <div class="footer_cont">
                <p>《{{.detail.BookInfo.Name}}》情节跌宕起伏、扣人心弦，是一本情节与文笔俱佳的{{.detail.BookInfo.BookType.Text}}小说，悠哉文学网转载收集{{.detail.BookInfo.Name}}最新章节。</p>
                <!-- <script>footer();right();dl();</script> -->
            </div>
        </div>


        <form action="/search_author" method="post" id="test_form">
            <input type="hidden" name="author" value="{{.detail.BookInfo.Author}}" />
        </form>
        
        
        <script>
            function search_author(){
                var form = document.getElementById('test_form');
                 form.submit();
            }
        </script>




 <script>
    (function(){
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>