
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="baidu-site-verification" content="L8SAgW36wb" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>【笔趣阁】_笔趣阁小说网_笔趣阁小说阅读网_新笔趣阁</title>
<meta name="keywords" content="新笔趣阁,笔趣阁小说阅读网，新笔趣阁无弹窗小说阅读网" />
<meta name="description" content="笔趣阁是广大书友最值得收藏的网络小说阅读网，新笔趣阁收录了当前最火热的网络小说，新笔趣阁免费提供高质量的小说最新章节，新笔趣阁是广大网络小说爱好者必备的小说阅读网。" />
<link rel="stylesheet" type="text/css" href="https://www.xbiquge.la/images/biquge.css"/>
<script type="text/javascript" src="//libs.baidu.com/jquery/1.4.2/jquery.min.js"></script>
<script src="/js/pc_pf.js"></script>
<script type="text/javascript" src="https://www.xbiquge.la/images/bqg.js"></script>
<link rel="shortcut icon" href="favicon.ico" />
<meta name="baidu-site-verification" content="cBwSh6gmX8" />


<!--<script>QIHOO_UNION_F_SLOT={w:500, h:48, ls:"s44755a2d8d",position:7, display:2,origin:0};</script><script src="http://s.lianmeng.360.cn/so/f.js" charset="utf-8"></script> -->
</head>
<body>
  <div id="wrapper">
    <script>login();</script>

    <div class="header">
    
      <div class="header_logo">
        <a href="https://www.xbiquge.la" >新笔趣阁</a>
      </div>
      <script>bqg_panel();</script>
    
    </div>
    <div class="nav">
      <ul>
        <li><a href="https://www.xbiquge.la/">首页</a></li>
        <li><a href="/modules/article/bookcase.php">我的书架</a></li>
        <li><a href="/xuanhuanxiaoshuo/">玄幻小说</a></li>
        <li><a href="/xiuzhenxiaoshuo/">修真小说</a></li>
        <li><a href="/dushixiaoshuo/">都市小说</a></li>
        <li><a href="/chuanyuexiaoshuo/">穿越小说</a></li>
        <li><a href="/wangyouxiaoshuo/">网游小说</a></li>
        <li><a href="/kehuanxiaoshuo/">科幻小说</a></li>
        <li><a href="/paihangbang/">排行榜单</a></li>
        <li><a href="/xiaoshuodaquan/">全部小说</a></li>
      </ul>
    </div>
<script type="text/javascript">top_bar();</script>
 
    <div class="dahengfu" style="margin-bottom:0;"><script>mainbanner();</script></div>
<div id="main">

<div id="hotcontent">


<div class="l">

  
  <div class="item">
        <div class="image"><a href="https://www.xbiquge.la/48/48900/"><img src="https://www.xbiquge.la/files/article/image/48/48900/48900s.jpg" alt="人道大圣"  width="120" height="150" /></a></div>
        <dl>
           <dt><span>莫默</span><a href="https://www.xbiquge.la/48/48900/">人道大圣</a></dt>
           <dd>    弱者声嘶力竭，亦无人在乎，强者轻声细语，却能深入人心。一棵熊熊燃烧的天赋树，每一片叶子都承载着不同的灵纹，宗门被灭，沦为矿奴的陆叶凭此成为修士，搅动九州风云。</dd>
        </dl>
        <div class="clear"></div>
      </div>  

  
  <div class="item">
        <div class="image"><a href="https://www.xbiquge.la/84/84522/"><img src="https://www.xbiquge.la/files/article/image/84/84522/84522s.jpg" alt="这个明星很想退休"  width="120" height="150" /></a></div>
        <dl>
           <dt><span>幼儿园一把手</span><a href="https://www.xbiquge.la/84/84522/">这个明星很想退休</a></dt>
           <dd>    众人：“不！你不想！”.........</dd>
        </dl>
        <div class="clear"></div>
      </div>  

  
  <div class="item">
        <div class="image"><a href="https://www.xbiquge.la/84/84419/"><img src="https://www.xbiquge.la/files/article/image/84/84419/84419s.jpg" alt="星门"  width="120" height="150" /></a></div>
        <dl>
           <dt><span>老鹰吃小鸡</span><a href="https://www.xbiquge.la/84/84419/">星门</a></dt>
           <dd>    传说，在那古老的星空深处，伫立着一道血与火侵染的红色之门。传奇与神话，黑暗与光明，无尽传说皆在这古老的门户中流淌。    俯瞰星门，热血照耀天地，黑暗终将离去！</dd>
        </dl>
        <div class="clear"></div>
      </div>  

  
  <div class="item">
        <div class="image"><a href="https://www.xbiquge.la/25/25858/"><img src="https://www.xbiquge.la/files/article/image/25/25858/25858s.jpg" alt="夜的命名术"  width="120" height="150" /></a></div>
        <dl>
           <dt><span>会说话的肘子</span><a href="https://www.xbiquge.la/25/25858/">夜的命名术</a></dt>
           <dd>    蓝与紫的霓虹中，浓密的钢铁苍穹下，数据洪流的前端，是科技革命之后的世界，也是现实与虚幻的分界。    钢铁与身体，过去与未来。这里，表世界与里世界并存，面前的一切，像是时间之墙近在眼前。    黑暗逐渐笼罩。可你要明白啊我的朋友，我们不能用温...</dd>
        </dl>
        <div class="clear"></div>
      </div>  

</div>
  

    <div class="r">
     <h2>公告牌</h2>
    <ul>
          <li><span class="s1">[公告]</span><span class="s2"><a href="https://www.xbiquge.la/newmessage.php?tosys=1" target="_blank" rel="nofollow" >发现章节未及时更新请联系我们</a></span></li>  
    </ul> 
   <h2>上期强推</h2>
    <ul>
             <li><span class="s1">[都市]</span><span class="s2"><a href="https://www.xbiquge.la/0/222/">一代天骄</a></span><span class="s5">一起成功</span></li> <li><span class="s1">[穿越]</span><span class="s2"><a href="https://www.xbiquge.la/0/885/">赘婿</a></span><span class="s5">愤怒的香蕉</span></li> <li><span class="s1">[都市]</span><span class="s2"><a href="https://www.xbiquge.la/44/44367/">天降我才必有用</a></span><span class="s5">石章鱼</span></li> <li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/32/32626/">叶辰孙怡夏若雪</a></span><span class="s5">全文免费阅读</span></li> <li><span class="s1">[穿越]</span><span class="s2"><a href="https://www.xbiquge.la/31/31566/">数风流人物</a></span><span class="s5">瑞根</span></li> <li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/1/1606/">斗罗大陆II绝世唐门</a></span><span class="s5">唐家三少</span></li>     </ul>
    </div>
    <div class="clear"></div>
  </div>
  

<div class="dahengfu">
<script>bannerindex();</script>
</div>
 
<script src="https://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>

<div class="novelslist">

<div class="content">
  <h2>玄幻小说</h2>
  <div class="top">
<div class="image"><img src="https://www.xbiquge.la/files/article/image/32/32626/32626s.jpg" alt="叶辰孙怡夏若雪"  width="67" height="82" /></div>
<dl><dt><a href="https://www.xbiquge.la/32/32626/">叶辰孙怡夏若雪</a></dt><dd>    五年前，叶家被灭，废物叶辰神秘失踪。五年后，那个叶家废物回来了！    带着一身通天地泣鬼神的修为回来了！这一次，叶辰要让苍天敬畏！要让大地颤抖！    要执掌一切，登临苍穹之巅！</dd></dl>
<div class="clear"></div></div>
<ul>
<li><a href="https://www.xbiquge.la/0/951/">伏天氏</a>/净无痕</li><li><a href="https://www.xbiquge.la/8/8345/">完美世界</a>/辰东</li><li><a href="https://www.xbiquge.la/7/7877/">斗破苍穹</a>/天蚕土豆</li><li><a href="https://www.xbiquge.la/23/23811/">一剑独尊</a>/青鸾峰上</li><li><a href="https://www.xbiquge.la/82/82620/">不科学御兽</a>/轻泉流响</li><li><a href="https://www.xbiquge.la/35/35356/">天启预报</a>/风月</li><li><a href="https://www.xbiquge.la/75/75688/">人族镇守使</a>/白驹易逝</li><li><a href="https://www.xbiquge.la/24/24770/">斗罗大陆5重生唐三</a>/唐家三少</li><li><a href="https://www.xbiquge.la/41/41495/">全属性武道</a>/莫入江湖</li><li><a href="https://www.xbiquge.la/20/20980/">叶尘池瑶小说全文免费阅读</a>/叶尘池瑶</li><li><a href="https://www.xbiquge.la/84/84419/">星门</a>/老鹰吃小鸡</li><li><a href="https://www.xbiquge.la/0/745/">雪中悍刀行</a>/烽火戏诸侯</li></ul>
</div>

<div class="content">
   <h2>修真小说</h2>
  <div class="top">
<div class="image"><img src="https://www.xbiquge.la/files/article/image/63/63514/63514s.jpg" alt="赤心巡天" alt="赤心巡天"  width="67" height="82" /></div>
<dl><dt><a href="https://www.xbiquge.la/63/63514/">赤心巡天</a></dt><dd>    山河千里写伏尸，乾坤百年描恶虎。    天地至公如无情，    我有赤心一颗，以巡天。    ——————    欢迎来到，情何以甚的仙侠世界。    ——————    赤心营（书友群）：879927532...</dd></dl>
<div class="clear"></div></div>
<ul>
<li><a href="https://www.xbiquge.la/48/48867/">弃宇宙</a>/鹅是老五</li><li><a href="https://www.xbiquge.la/9/9419/">一念永恒</a>/耳根</li><li><a href="https://www.xbiquge.la/6/6819/">仙逆</a>/耳根</li><li><a href="https://www.xbiquge.la/7/7004/">遮天</a>/辰东</li><li><a href="https://www.xbiquge.la/15/15977/">大梦主</a>/忘语</li><li><a href="https://www.xbiquge.la/21/21210/">恐怖复苏</a>/佛前献花</li><li><a href="https://www.xbiquge.la/14/14059/">永恒圣王</a>/雪满弓刀</li><li><a href="https://www.xbiquge.la/35/35032/">大周仙吏</a>/荣小荣</li><li><a href="https://www.xbiquge.la/82/82819/">我用闲书成圣人</a>/出走八万里</li><li><a href="https://www.xbiquge.la/80/80763/">我只想安静的做个苟道中人</a>/爆炸小拿铁</li><li><a href="https://www.xbiquge.la/84/84265/">大魏读书人</a>/七月未时</li><li><a href="https://www.xbiquge.la/74/74793/">这个人仙太过正经</a>/言归正传</li></ul>
  </div>



<div class="content border">
   <h2>都市小说</h2>
  <div class="top">
<div class="image"><img src="https://www.xbiquge.la/files/article/image/30/30581/30581s.jpg" alt="顶级神豪"  width="67" height="82" /></div>
<dl><dt><a href="https://www.xbiquge.la/30/30581/">顶级神豪</a></dt><dd>    女朋友嫌林云穷，跟着富二代跑了，结果突然冒出个首富外公来跟林云相认。    “你为什么现在才来跟我相认，我就是饿死，死外边，也绝对不会跟你相认的！”    “叮，银行卡到账一亿！”    “嗯，真香……”成为富三代后，林云渐渐明白一个真理，有...</dd></dl>
<div class="clear"></div></div>
<ul>
<li><a href="https://www.xbiquge.la/32/32522/">史上最强炼气期</a>/李道然</li><li><a href="https://www.xbiquge.la/31/31439/">叶凡唐若雪医婿</a>/叶凡</li><li><a href="https://www.xbiquge.la/7/7552/">万古神帝</a>/飞天鱼</li><li><a href="https://www.xbiquge.la/63/63436/">全职艺术家</a>/我最白</li><li><a href="https://www.xbiquge.la/1/1394/">黄金瞳</a>/打眼</li><li><a href="https://www.xbiquge.la/37/37883/">韩三千苏迎夏全文免费阅读</a>/豪婿</li><li><a href="https://www.xbiquge.la/84/84082/">回到九零，她在外科大佬圈火爆了</a>/肥妈向善</li><li><a href="https://www.xbiquge.la/20/20948/">最佳女婿</a>/林羽江颜</li><li><a href="https://www.xbiquge.la/24/24780/">超级女婿</a>/韩三千苏迎夏</li><li><a href="https://www.xbiquge.la/0/181/">梦幻香江</a>/王梓钧</li><li><a href="https://www.xbiquge.la/84/84522/">这个明星很想退休</a>/幼儿园一把手</li><li><a href="https://www.xbiquge.la/24/24050/">重生之似水流年</a>/苍山月</li></ul>
  </div>


<div class="clear"></div>
</div>

<div class="novelslist">

<div class="content">
    <h2>穿越小说</h2>
  <div class="top">
<div class="image"><img src="https://www.xbiquge.la/files/article/image/0/885/885s.jpg" alt="赘婿"  width="67" height="82" /></div>
<dl><dt><a href="https://www.xbiquge.la/0/885/">赘婿</a></dt><dd>    一个受够了勾心斗角、生死打拼的金融界巨头回到了古代，进入一商贾之家最没地位的赘婿身体后的休闲故事。家国天下事，本已不欲去碰的他，却又如何能避得过了。“有人曾站在金字塔高点最廉价数不清妒忌与羡艳走过了这段万人簇拥路逃不过墓碑下那孤独的长眠”——...</dd></dl>
<div class="clear"></div></div>
<ul>
<li><a href="https://www.xbiquge.la/0/445/">神话版三国</a>/坟土荒草</li><li><a href="https://www.xbiquge.la/28/28056/">小阁老</a>/三戒大师</li><li><a href="https://www.xbiquge.la/31/31251/">我不是野人</a>/孑与2</li><li><a href="https://www.xbiquge.la/7/7415/">抗日之特战兵王</a>/寂寞剑客(书坊)</li><li><a href="https://www.xbiquge.la/16/16401/">三国之巅峰召唤</a>/流香千古</li><li><a href="https://www.xbiquge.la/15/15550/">穷鬼的上下两千年</a>/非玩家角色</li><li><a href="https://www.xbiquge.la/64/64407/">贞观憨婿</a>/大眼小金鱼</li><li><a href="https://www.xbiquge.la/19/19588/">如意小郎君</a>/荣小荣</li><li><a href="https://www.xbiquge.la/31/31566/">数风流人物</a>/瑞根</li><li><a href="https://www.xbiquge.la/83/83444/">大秦：不装了，你爹我是秦始皇</a>/头顶一只喵喵</li><li><a href="https://www.xbiquge.la/82/82127/">从今天开始做藩王</a>/背着家的蜗牛</li><li><a href="https://www.xbiquge.la/69/69286/">秘战无声</a>/长风</li></ul>
  </div>

<div class="content">
   <h2>网游小说</h2>
  <div class="top">
<div class="image"><img src="https://www.xbiquge.la/files/article/image/24/24808/24808s.jpg" alt="叶辰萧初然"  width="67" height="82" /></div>
<dl><dt><a href="https://www.xbiquge.la/24/24808/">叶辰萧初然</a></dt><dd></dd></dl>
<div class="clear"></div></div>
<ul>
<li><a href="https://www.xbiquge.la/82/82818/">NBA：开局一张三分体验卡</a>/一江秋月</li><li><a href="https://www.xbiquge.la/65/65316/">从火影开始做幕后黑手</a>/浓墨浇书</li><li><a href="https://www.xbiquge.la/64/64397/">海贼之苟到大将</a>/咸鱼军头</li><li><a href="https://www.xbiquge.la/72/72575/">从木叶开始逃亡</a>/叶惜宁</li><li><a href="https://www.xbiquge.la/79/79936/">术师手册</a>/听日</li><li><a href="https://www.xbiquge.la/52/52743/">我真的只是想打铁</a>/静悄悄地写</li><li><a href="https://www.xbiquge.la/37/37382/">芝加哥1990</a>/齐可休</li><li><a href="https://www.xbiquge.la/89/89596/">我在精灵世界当饲育屋老板</a>/百夜幽灵</li><li><a href="https://www.xbiquge.la/0/487/">天王殿</a>/夏天周婉秋</li><li><a href="https://www.xbiquge.la/89/89995/">黑暗塔防游戏</a>/会说话的笔筒</li><li><a href="https://www.xbiquge.la/15/15714/">仙王的日常生活</a>/枯玄</li><li><a href="https://www.xbiquge.la/81/81731/">海贼：我加载了游戏面板</a>/八挂海</li></ul>
  </div>

<div class="content border">
   <h2>科幻小说</h2>
  <div class="top">
<div class="image"><img src="https://www.xbiquge.la/files/article/image/15/15006/15006s.jpg" alt="轮回乐园"  width="67" height="82" /></div>
<dl><dt><a href="https://www.xbiquge.la/15/15006/">轮回乐园</a></dt><dd>    机遇与危险共存，只要豁出性命，在轮回乐园中就能得到一切。
    被轮回乐园选中成为‘猎杀者’的那一刻，苏晓就明白，他将与所有人为敌。
    乐园虽然残酷，但无所不能……。
</dd></dl>
<div class="clear"></div></div>
<ul>
<li><a href="https://www.xbiquge.la/11/11433/">黎明之剑</a>/远瞳</li><li><a href="https://www.xbiquge.la/41/41034/">玩家凶猛</a>/黑灯夏火</li><li><a href="https://www.xbiquge.la/38/38488/">我的细胞监狱</a>/穿黄衣的阿肥</li><li><a href="https://www.xbiquge.la/80/80212/">我有一个武道世界</a>/俺来组成头部</li><li><a href="https://www.xbiquge.la/70/70924/">在生存游戏做锦鲤</a>/夏季稻谷香</li><li><a href="https://www.xbiquge.la/71/71445/">从红月开始</a>/黑山老鬼</li><li><a href="https://www.xbiquge.la/20/20853/">踏星</a>/随散飘风</li><li><a href="https://www.xbiquge.la/49/49302/">万界圆梦师</a>/棉衣卫</li><li><a href="https://www.xbiquge.la/68/68796/">漫游在影视世界</a>/不是马里奥</li><li><a href="https://www.xbiquge.la/44/44391/">九星之主</a>/育</li><li><a href="https://www.xbiquge.la/81/81471/">逐道在诸天</a>/新海月1</li><li><a href="https://www.xbiquge.la/72/72279/">我成帝了金手指才来</a>/天涯月照今</li></ul>  </div>
<div class="clear"></div>
</div>



<div id="newscontent">

<div class="l">
<h2>最近更新小说列表</h2>
<ul>

<li><span class="s1">[其他小说]</span><span class="s2"><a href="https://www.xbiquge.la/92/92794/" target="_blank">重生老婆，求求你别再折磨我了！</a></span><span class="s3"><a href="/92/92794/35825079.html" target="_blank">致读者的话</a></span><span class="s4">野猪公主</span></li>

<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.xbiquge.la/91/91404/" target="_blank">都市风水医圣</a></span><span class="s3"><a href="/91/91404/35825090.html" target="_blank">第二百六十七章 传火计划</a></span><span class="s4">养乐不多</span></li>

<li><span class="s1">[网游小说]</span><span class="s2"><a href="https://www.xbiquge.la/90/90449/" target="_blank">斗罗：我保证这是最后一碗饭</a></span><span class="s3"><a href="/90/90449/35825064.html" target="_blank">第148章 【男人在床上说的话果然不能信！（求全订）】</a></span><span class="s4">凉开冰度</span></li>

<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.xbiquge.la/92/92183/" target="_blank">不到四十，被明星女儿送进养老院</a></span><span class="s3"><a href="/92/92183/35825073.html" target="_blank">107、来的更猛烈些吧</a></span><span class="s4">清自风来</span></li>

<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.xbiquge.la/83/83001/" target="_blank">都市仙医神婿</a></span><span class="s3"><a href="/83/83001/35825088.html" target="_blank">第八百五十六章    世界公敌</a></span><span class="s4">优柔寡断982692</span></li>

<li><span class="s1">[穿越小说]</span><span class="s2"><a href="https://www.xbiquge.la/92/92438/" target="_blank">藏渊沉凰</a></span><span class="s3"><a href="/92/92438/35825078.html" target="_blank">第一百一十六章 一切都是最好的安排</a></span><span class="s4">Quinn戚七</span></li>

<li><span class="s1">[穿越小说]</span><span class="s2"><a href="https://www.xbiquge.la/93/93457/" target="_blank">使命之皇帝要自杀</a></span><span class="s3"><a href="/93/93457/35825072.html" target="_blank">第一百一十章 前后夹击</a></span><span class="s4">独孤了尘</span></li>

<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.xbiquge.la/87/87720/" target="_blank">剥削好莱坞1980</a></span><span class="s3"><a href="/87/87720/35825065.html" target="_blank">第二百二十九章 评价与补拍</a></span><span class="s4">莫斯科钳工果沙</span></li>

<li><span class="s1">[其他小说]</span><span class="s2"><a href="https://www.xbiquge.la/90/90233/" target="_blank">兽世：种田不易，全家努力</a></span><span class="s3"><a href="/90/90233/35825057.html" target="_blank">第110章 老族长发威</a></span><span class="s4">暖心心</span></li>

<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/92/92864/" target="_blank">我真不是道祖啊</a></span><span class="s3"><a href="/92/92864/35825077.html" target="_blank">第六十章 炼丹!</a></span><span class="s4">芥湖泊舟</span></li>

<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.xbiquge.la/88/88794/" target="_blank">满级大佬只想在薄先生怀里撒个娇</a></span><span class="s3"><a href="/88/88794/35825059.html" target="_blank">第435章 顾妙妙拿了二十头大蒜</a></span><span class="s4">三淡</span></li>

<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/93/93675/" target="_blank">万魔之主</a></span><span class="s3"><a href="/93/93675/35825084.html" target="_blank">第六十七章 治愈魔人</a></span><span class="s4">无怨</span></li>

<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.xbiquge.la/19/19717/" target="_blank">重生八零锦绣军婚</a></span><span class="s3"><a href="/19/19717/35825062.html" target="_blank">第8245章 上来合个影</a></span><span class="s4">幽非芽</span></li>

<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.xbiquge.la/26/26008/" target="_blank">重生之都市仙尊</a></span><span class="s3"><a href="/26/26008/35825082.html" target="_blank">第3033章 要命了</a></span><span class="s4">洛书</span></li>

<li><span class="s1">[网游小说]</span><span class="s2"><a href="https://www.xbiquge.la/84/84159/" target="_blank">人在公寓，收集原力</a></span><span class="s3"><a href="/84/84159/35825086.html" target="_blank">第二百零八章 莫问，否则拳头伺候</a></span><span class="s4">剑逝红尘曲</span></li>

<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.xbiquge.la/91/91088/" target="_blank">求求你出道吧</a></span><span class="s3"><a href="/91/91088/35825089.html" target="_blank">第148章：善良的苏野</a></span><span class="s4">旋转蘑菇木偶</span></li>

<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.xbiquge.la/66/66958/" target="_blank">刺芒</a></span><span class="s3"><a href="/66/66958/35825069.html" target="_blank">第470章 野火烧不尽</a></span><span class="s4">亲亲雪梨</span></li>

<li><span class="s1">[其他小说]</span><span class="s2"><a href="https://www.xbiquge.la/80/80688/" target="_blank">从入赘开始逆袭</a></span><span class="s3"><a href="/80/80688/35825085.html" target="_blank">第八百三十一章   奋力一搏</a></span><span class="s4">并不是凤眸</span></li>

<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/76/76906/" target="_blank">小师叔沉迷网络中</a></span><span class="s3"><a href="/76/76906/35825083.html" target="_blank">第七百四十五章 小师叔是豹子5</a></span><span class="s4">弹剑听禅</span></li>

<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/92/92301/" target="_blank">新时空剑仙</a></span><span class="s3"><a href="/92/92301/35825070.html" target="_blank">第0090章  系统读档</a></span><span class="s4">芃玉燕</span></li>

<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/34/34049/" target="_blank">绝世剑帝</a></span><span class="s3"><a href="/34/34049/35825091.html" target="_blank">第3517章 极意峰</a></span><span class="s4">九界散人</span></li>

<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.xbiquge.la/88/88337/" target="_blank">穿成女配后我带球跑了</a></span><span class="s3"><a href="/88/88337/35825061.html" target="_blank">第二百四十二章 示好</a></span><span class="s4">雪盛月</span></li>

<li><span class="s1">[网游小说]</span><span class="s2"><a href="https://www.xbiquge.la/87/87365/" target="_blank">短跑之王：从高中开始的奥运冠军</a></span><span class="s3"><a href="/87/87365/35825058.html" target="_blank">第三百七十七章众神之战（上）</a></span><span class="s4">跑步小林</span></li>

<li><span class="s1">[科幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/85/85947/" target="_blank">浩劫余生</a></span><span class="s3"><a href="/85/85947/35825063.html" target="_blank">第四百五十章 自己卖自己</a></span><span class="s4">岐峰</span></li>

<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/93/93551/" target="_blank">九州纵横异世录</a></span><span class="s3"><a href="/93/93551/35825075.html" target="_blank">第二十八章 离别在即</a></span><span class="s4">沉默的匣子</span></li>

<li><span class="s1">[网游小说]</span><span class="s2"><a href="https://www.xbiquge.la/29/29814/" target="_blank">DC家的骑士</a></span><span class="s3"><a href="/29/29814/35825074.html" target="_blank">第一百三十六章 你该抓住的手，已经不是我们了</a></span><span class="s4">英雄骑士</span></li>

<li><span class="s1">[网游小说]</span><span class="s2"><a href="https://www.xbiquge.la/84/84452/" target="_blank">美剧之我是弗兰克老爹</a></span><span class="s3"><a href="/84/84452/35825067.html" target="_blank">第525章 提醒</a></span><span class="s4">兰陵王小生</span></li>

<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/85/85516/" target="_blank">开局邪神人偶，我有的选吗</a></span><span class="s3"><a href="/85/85516/35825060.html" target="_blank">第一百九十四章 被圣女握手的感觉真好！</a></span><span class="s4">流御行</span></li>

<li><span class="s1">[科幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/54/54621/" target="_blank">我在末日有台SCV</a></span><span class="s3"><a href="/54/54621/35825066.html" target="_blank">第一千四百四十六章：硬撼超尸</a></span><span class="s4">菠萝蜜很多</span></li>

<li><span class="s1">[科幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/87/87240/" target="_blank">快穿之这碗狗血我干了</a></span><span class="s3"><a href="/87/87240/35825080.html" target="_blank">第四百九十一章 如何佛系混圈（2）</a></span><span class="s4">我不是浮萍</span></li>

 </ul>
</div>



<div class="r">
<h2>最新入库小说</h2>
<ul>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93808/">漫漫时光只甜你</a></span><span class="s5">九霄云狐</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93795/">黄泉路81号</a></span><span class="s5">夜无声</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93809/">穆少他又毁我桃花</a></span><span class="s5">筱里</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93791/">追忆迟迟归</a></span><span class="s5">沈伊书</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93793/">带着总裁的亿万家产跑了</a></span><span class="s5">达布扭</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93790/">谁说爱情来得迟</a></span><span class="s5">猫儿冬</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93802/">当你热恋时</a></span><span class="s5">蠢萌小尾巴</span></li>
<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.xbiquge.la/93/93796/">全能天师</a></span><span class="s5">百宝嵌</span></li>
<li><span class="s1">[网游]</span><span class="s2"><a href="https://www.xbiquge.la/93/93786/">斗罗之神级火影</a></span><span class="s5">舟师南下</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93805/">电竞教练：请大佬回归</a></span><span class="s5">末了玄七</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93804/">她的眼里有星光</a></span><span class="s5">冬日鱼悦</span></li>
<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.xbiquge.la/93/93799/">蛊王</a></span><span class="s5">万订巨</span></li>
<li><span class="s1">[穿越]</span><span class="s2"><a href="https://www.xbiquge.la/93/93792/">五年为妃，终身为后</a></span><span class="s5">要好好哒</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93811/">晚风吹过了城南</a></span><span class="s5">谥风</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93787/">七日醉</a></span><span class="s5">楚褚</span></li>
<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/93/93785/">超越主角从斗罗开始</a></span><span class="s5">一缕魂烟</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93797/">红白喜煞</a></span><span class="s5">苏昭丹</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93812/">初见展颜</a></span><span class="s5">若闲若静</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93801/">电竞没有女，朋友！</a></span><span class="s5">潺潺蝉禅</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93784/">女汉子的学弟攻略手册</a></span><span class="s5">你家小酱</span></li>
<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.xbiquge.la/93/93810/">战爷，你家萌妻不是人</a></span><span class="s5">眸上心痕</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93800/">伪装单身</a></span><span class="s5">云上之栈</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93789/">我在妖界当家做主</a></span><span class="s5">菁泽</span></li>
<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.xbiquge.la/93/93794/">狂医归来</a></span><span class="s5">七大山人</span></li>
<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/93/93783/">玄亘漂泊</a></span><span class="s5">窃空</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93806/">这个王妃有点虎</a></span><span class="s5">玄琋</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93807/">小弟个个是大佬</a></span><span class="s5">我家两只喵</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93788/">叶总的小媳妇又撒娇了</a></span><span class="s5">大甜甜呀</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93803/">欢喜田园暴躁夫君</a></span><span class="s5">朵朵殿</span></li>
<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/93/93798/">偷吻野玫瑰</a></span><span class="s5">上官姜姜</span></li>

</ul>

</div><div class="clear"></div>

</div></div>

    </div>
    
<div id="firendlink">
友情连接：<a href="https://www.xbiquge.la/" target="_blank">新笔趣阁</a>
<a href="https://www.xbiquge.la/2/2210/" target="_blank">全职法师</a>
<a href="https://www.xbiquge.la/1/1089/" target="_blank">妖魔战神</a>
<a href="https://www.xbiquge.la/0/69/" target="_blank">帝霸</a>

<a href="https://www.xbiquge.la/1/1064/" target="_blank">原始战记</a>
<a href="https://www.xbiquge.la/3/3844/" target="_blank">御天神帝</a>

</a>
<a href="http://www.hebaoge.com/" target="_blank"> 荷包网</a>
</a>
<a href="http://www.zgls5000.net" target="_blank"> 中国历史网
</a>
        <div class="dahengfu"><script type="text/javascript">bottom();</script></div>

<div class="footer">
    <div class="footer_link"></div>
    <div class="footer_cont">
      
    <script>footer();right();dl();</script>
    <script charset="utf-8" src="//www.baidu.com/js/opensug.js"></script>
  </div>
</div>
<script>
    (function(){
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>



        
  </div>
</body>

</html>