
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>网游小说_悠哉文学网</title>
<meta name="keywords" content="悠哉文学网,网络小说,小说阅读网,小说,无弹窗小说,下载小说" />
<meta name="description" content="悠哉文学网是广大书友最值得收藏的网络小说阅读网，网站收录了当前最火热的网络小说，免费提供高质量的小说最新章节，是广大网络小说爱好者必备的小说阅读网。" />
<meta name="MobileOptimized" content="240"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<link rel="shortcut icon" href="/static/images/favicon.ico" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta http-equiv="Cache-Control" content="no-transform " />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<script type="text/javascript" src="//libs.baidu.com/jquery/1.4.2/jquery.min.js"></script>
<script src="/static/js/xbiquge.js"></script>
<script src="/static/js/comm.js"></script>
</head>
<body>
    {{$image := .image}}
    {{$vv:= index .hotData 0}}
    {{$defaultImage :=.hostDefaultImage}}
<div class="header" id="bqgmb_head">
    <div class="back"><a href="javascript:history.go(-1);">返回</a></div>
    <h1 id="bqgmb_h1">{{$vv.BookType.Text}}</h1>
    <div class="back_r"><a href="/">首页</a></div>
</div>
<div class="nav">
    <ul>
        <li><a href="/">首页</a></li>
        {{ range $v := .menu}}
        <li><a href="/{{$v.Path}}/1">{{$v.Text}}</a></li>
       {{ end }}
        <div class="cc"></div>
    </ul>
</div>
<script>search();</script>
<div class="cover">
{{ range $v := .detail}}
<p class="line">[{{$vv.BookType.Text}}]<a href="/book_detail/{{$v.Id}}/c_1" class="blue">{{$v.Name}}</a>/<a href="#" onclick="search_author('{{$v.Author}}')">{{$v.Author}}</a></p>
{{ end }}
</div>
<div class="page">
    <a href="/category/{{$vv.BookType.Path}}/{{.prevPage}}">上一页</a>
    <a href="/category/{{$vv.BookType.Path}}/{{.nextPage}}">下一页</a>
</div>
<div class="footer">
  <ul>
    <li><a href="/">首页</a></li>
  </ul>
</div>
<form action="/search_author" method="get" id="author_form">
    <input type="hidden" id = "author_input" name="author" value="" />
</form>
<script>
function search_author(name){
        var form = document.getElementById('author_form');
        document.getElementById("author_input").value = name
        form.submit();
    }
function page(){
    var p = document.getElementById("pageinput").value;
    if(!isPositiveNum(p)){p = 346;}
    window.open("/wapsort/5_"+p+"/","_self");
    function isPositiveNum(s){
        if(s > 346)return false;
    var re = /^[0-9]*[1-9][0-9]*$/ ;
        return re.test(s)
    }
}
</script>
<script>tj();</script>
</body>
</html>