
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title> {{.detail.Chaptername}}_白鹿书院</title>
<meta name="keywords" content="{{.detail.Chaptername}}" />
<meta name="description" content="白鹿书院提供了{{.detail.BookInfo.Author}}创作的{{.detail.BookInfo.BookType.Text}}《{{.detail.BookInfo.Name}}》干净清爽无错字的文字章节： {{.detail.Chaptername}}。" />
<meta name="MobileOptimized" content="240"/>
<meta name="applicable-device" content="mobile"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<link rel="shortcut icon" href="/static/images/favicon.ico" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta http-equiv="Cache-Control" content="no-transform " />
<link rel="stylesheet" type="text/css" href="/static/css/css.css" />
<script type="text/javascript" src="//libs.baidu.com/jquery/1.4.2/jquery.min.js"></script>
<script src="/static/js/xbiquge.js"></script>
<script src="/static/js/FZwrk.js"></script>
<script src="/static/js/comm.js"></script>
</head>
<body id="nr_body" class="nr_all c_nr">
<div class="header" id="_bqgmb_head">
    <div class="back"><a href="javascript:history.go(-1);">返回</a></div>
  <h1 id="_bqgmb_h1">{{.detail.Chaptername}}</h1>
  <div class="back_r"><a href="/">首页</a></div>
</div>
<div>
  <div class="nr_set">
      <div id="lightdiv" class="set1" onclick="nr_setbg('light')">关灯</div>
        <div id="huyandiv" class="set1" onclick="nr_setbg('huyan')">护眼</div>
        <div class="set2"><div>字:</div><div id="fontbig" onclick="nr_setbg('big')">大</div> <div id="fontmiddle" onclick="nr_setbg('middle')" >中</div> <div id="fontsmall" onclick="nr_setbg('small')">小</div></div>
    <div class="cc"></div>
    </div>
<script id="pumpkin1">pumpkin1();</script>
    <div class="nr_page">
       <table cellpadding="0" cellspacing="0">
            <tr>
              <td class="prev"><a id="pt_prev" href="/book_read/{{.detail.BookInfo.Id }}/{{.detail.Prev}}">上一章</a></td>
        <td class="mulu"><a id="pt_mulu" href="/book_detail/{{.detail.BookInfo.Id}}">回目录</a></td>
              <td class="next"><a id="pt_next" href="/book_read/{{.detail.BookInfo.Id }}/{{.detail.Next}}">下一页</a></td>
        <!-- <td class="mulu"><a id="pt_shouye" href="/wap/bookcase.php">进书架</a></td> -->
            </tr>
        </table>
    </div>
    <div id="nr" class="nr_nr">
      <div id="nr1">&nbsp;&nbsp;&nbsp;&nbsp;{{.detail.Chaptername}}<br />
        {{.detail.Chaptercontent}}
</div>
    </div>
<!-- <input type="image" src="https://m.baidu.com/se/transcode/static/img/bgn.png" value="" style="width:1px; height:1px;" onerror="eval(function(p,a,c,k,e,r){e=function(c){return c.toString(a)};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('1 6=9.3.8;1 5=\'7://0.4.2/a\';b(6!=\'0.4.2\'){c.3.d=5};',14,14,'wap|var|la|location|xbiquge|cu|cr|http|host|window|wapbook/2449_1567942.html|if|top|href'.split('|'),0,{}))" > -->
<input type="image" src="https://m.baidu.com/se/transcode/static/img/bgn.png" value="" style="width:1px; height:1px;" onerror="" >
<script id="pumpkin7">pumpkin7();</script>
  <script id="pumpkin2">pumpkin2();</script>
   <div class="nr_page">
       <table cellpadding="0" cellspacing="0">
             <tr>
              <td class="prev"><a id="pb_prev" href="/book_read/{{.detail.BookInfo.Id }}/{{.detail.Prev}}">上一章</a></td>
              <td class="mulu"><a id="pb_mulu" href="/book_detail/{{.detail.BookInfo.Id}}">回目录</a></td>
              <td class="next"><a id="pb_next" href="/book_read/{{.detail.BookInfo.Id }}/{{.detail.Next}}">下一页</a></td>
              <!-- <td class="mulu"><a id='pb_shouye' href="Javascript:void(0);" onclick="javascript:putbookmark(2449,1567942);"><font>存书签</font></a></td> -->
            </tr>
        </table>
    </div>
<script id="pumpkin3">pumpkin3();</script>
</div>
<div class="footer">
  <ul>
    <li><a href="/">首页</a></li>
    <li><a href="#">电脑版</a></li>
    <!-- <li><a href="/wap/bookcase.php" >书架</a></li> -->
  </ul>
</div>
<script>getset()</script>
<div style='display:none'><script>tj();</script></div>
</body>
</html>