
<!DOCTYPE html>
<html>
<head>
    {{$image := .image}}
    {{$defaultImage :=.hostDefaultImage}}
<meta charset="utf-8"/>
<title>搜索小说"{{.keyWord}}"_悠哉文学网</title>
<meta name="keywords" content="{{.keyWord}} 悠哉文学网,网络小说,小说阅读网,小说,无弹窗小说,下载小说" />
<meta name="description" content="悠哉文学网是广大书友最值得收藏的网络小说阅读网，网站收录了当前最火热的网络小说，免费提供高质量的小说最新章节，是广大网络小说爱好者必备的小说阅读网。" />
<meta name="MobileOptimized" content="240"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<link rel="shortcut icon" href="/static/images/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<script type="text/javascript" src="//libs.baidu.com/jquery/1.4.2/jquery.min.js"></script>
<script src="/static/js/xbiquge.js"></script>
<script src="/static/js/comm.js"></script>
</head>
<body>
<div class="header" id="bqgmb_head">
    <div class="back"><a href="javascript:history.go(-1);">返回</a></div>
    <h1 id="bqgmb_h1">与“{{.keyWord}}”相关的小说</h1>
    <div class="back_r"><a href="/">首页</a></div>
</div> 
<div class="nav">
    <ul>
        {{ range $v := .menu}}
        <li><a href="/{{$v.Path}}/1">{{$v.Text}}</a></li>
       {{ end }}
        <div class="cc"></div>
    </ul>
</div>
<script>search();</script>
<div class="toptab"><span class="active">与“{{.keyWord}}”相关的小说</span></div>
<div class="read_book">
{{ range $v := .detail}}
<div class="block">
    <div class="block_img"><a href="/book_detail/{{$v.Id}}/c_1"><img height=100 width=80 src='{{ $image }}/{{$v.Cover}}' onerror="this.src='{{$defaultImage}}'"  /></a></div>
    <div class="block_txt">
    <p><a href="/book_detail/{{$v.Id}}/c_1"><h2>{{$v.Name}}</h2></a></p>
    <p>分类：<a href="/{{$v.BookType.Path}}/1"></a>{{$v.BookType.Text}}</p>
    <p>作者：<a href="/">{{$v.Author}}</a></p>
    <!-- <p>最新章节：<a href="/book_detail/{{$v.Id}}/r_{{$v.LatestChapter.Chapterid}}">{{$v.LatestChapter.Chaptername}}</a></p> -->
    </div>
    <div style="clear:both"></div>
    </div>   
{{ end }}


</div>
<div class="footer">
  <ul>
    <li><a href="/">首页</a></li>
    <!-- <li><a href="#">电脑版</a></li> -->
    <!-- <li><a href="#">书架</a></li> -->
  </ul>
</div>
<script>tj();</script>
</body>
</html>