<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>【悠哉文学网】_悠哉文学网小说网_悠哉文学网小说阅读网_悠哉文学网</title>
<meta name="keywords" content="小说在线阅读,悠哉文学网小说阅读网，悠哉文学网无弹窗小说阅读网" />
<meta name="description" content="悠哉文学网是广大书友最值得收藏的网络小说阅读网，悠哉文学网收录了当前最火热的网络小说，悠哉文学网免费提供高质量的小说最新章节，悠哉文学网是广大网络小说爱好者必备的小说阅读网。" />
<meta name="MobileOptimized" content="240"/>
<meta name="applicable-device" content="mobile"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<link rel="shortcut icon" href="/static/images/favicon.ico" />
<meta http-equiv="Cache-Control" content="max-age=300" />
<meta http-equiv="Cache-Control" content="no-transform " />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
<script type="text/javascript" src="//libs.baidu.com/jquery/1.4.2/jquery.min.js"></script>
<script src="/static/js/xbiquge.js"></script>
<script src="/static/js/comm.js?11"></script>
{{$defaultImage :=.hostDefaultImage}}
</head>
<body>
<div class="header">
    <div class="logo"><a href="/">悠哉文学网</a></div>
</div>
<div class="nav">
    <ul>
        {{ range $v := .menu}}
                <li><a href="/{{$v.Path}}/1">{{$v.Text}}</a></li>
        {{ end }}
        <div class="cc"></div>
    </ul>
</div>
<script>search();</script>
{{$image := .image}}
{{ range $v := .indexData}}
{{$first := index $v 0}}
<div class="article">
    <h2 class="title"><span><a href="/{{$first.BookType.Path}}/1">{{$first.BookType.Text}}</a></span>
    </h2>

    <div class="block">
        <div class="block_img"><a href="/book_detail/{{$first.Id}}/c_1"><img height=100 width=80 src="{{ $image }}/{{$first.Cover}}"    /></a></div>
        <div class="block_txt">
            <p><a href="/book_detail/{{$first.Id}}/c_1"><h2>{{$first.Name}}</h2></a></p>
            <p>作者：{{$first.Author}}</p>
            <p><a href="/book_detail/{{$first.Id}}/c_1">  {{$first.Desc}} </a></p>
        </div>
        <div style="clear:both"></div>
        <ul>
            {{ range $vv := $v}}
            <li><a href="/book_detail/{{$vv.Id}}/c_1" class="blue">{{$vv.Name}}</a>/{{$vv.Author}}</li>
           {{ end }}
        </ul>
    </div>
</div>
{{ end }}
<div class="footer">
  <ul>
    <li><a href="/">首页</a></li>
    <li><a href="#">电脑版</a></li>
  </ul>
</div>
<script>tj();</script>
</body>
</html>