<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta name="baidu-site-verification" content="L8SAgW36wb" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta http-equiv="Cache-Control" content="no-transform" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>【白鹿书院】_白鹿书院小说网_白鹿书院小说阅读网_新白鹿书院</title>
	<meta name="keywords" content="新白鹿书院,白鹿书院小说阅读网，新白鹿书院无弹窗小说阅读网" />
	<meta name="description"
		content="白鹿书院是广大书友最值得收藏的网络小说阅读网，新白鹿书院收录了当前最火热的网络小说，新白鹿书院免费提供高质量的小说最新章节，新白鹿书院是广大网络小说爱好者必备的小说阅读网。" />
	<link rel="stylesheet" type="text/css" href="/images/biquge.css" />
	<script type="text/javascript" src="//libs.baidu.com/jquery/1.4.2/jquery.min.js"></script>
	<script src="/js/pc_pf.js"></script>
	<script type="text/javascript" src="/images/bqg.js"></script>
	<link rel="shortcut icon" href="favicon.ico" />
	<meta name="baidu-site-verification" content="cBwSh6gmX8" />


	<!--<script>QIHOO_UNION_F_SLOT={w:500, h:48, ls:"s44755a2d8d",position:7, display:2,origin:0};</script><script src="http://s.lianmeng.360.cn/so/f.js" charset="utf-8"></script> -->
</head>

<body>
	<div id="wrapper">
		<script>
			login();
		</script>

		<div class="header">

			<div class="header_logo">
				<a href="https://www.xbiquge.la">新白鹿书院</a>
			</div>
			<script>
				bqg_panel();
			</script>

		</div>
		<div class="nav">
			<ul>
				<li><a href="https://www.xbiquge.la/">首页</a></li>
				<li><a href="/modules/article/bookcase.php">我的书架</a></li>
				<li><a href="/xuanhuanxiaoshuo/">玄幻小说</a></li>
				<li><a href="/xiuzhenxiaoshuo/">修真小说</a></li>
				<li><a href="/dushixiaoshuo/">都市小说</a></li>
				<li><a href="/chuanyuexiaoshuo/">穿越小说</a></li>
				<li><a href="/wangyouxiaoshuo/">网游小说</a></li>
				<li><a href="/kehuanxiaoshuo/">科幻小说</a></li>
				<li><a href="/paihangbang/">排行榜单</a></li>
				<li><a href="/xiaoshuodaquan/">全部小说</a></li>
			</ul>
		</div>
		<script type="text/javascript">
			top_bar();
		</script>

		<div class="dahengfu" style="margin-bottom:0;">
			<script>
				mainbanner();
			</script>
		</div>
		<div id="main">

			<div id="hotcontent">


				<div class="l">


					<div class="item">
						<div class="image"><a
								href="https://www.xbiquge.la/23/23811/"><img src="https://www.xbiquge.la/files/article/image/23/23811/23811s.jpg" alt="一剑独尊"  width="120" height="150" /></a>
						</div>
						<dl>
							<dt><span>青鸾峰上</span><a href="https://www.xbiquge.la/23/23811/">一剑独尊</a></dt>
							<dd> 生死看淡，不服就干。</dd>
						</dl>
						<div class="clear"></div>
					</div>


					<div class="item">
						<div class="image"><a
								href="https://www.xbiquge.la/82/82620/"><img src="https://www.xbiquge.la/files/article/image/82/82620/82620s.jpg" alt="不科学御兽"  width="120" height="150" /></a>
						</div>
						<dl>
							<dt><span>轻泉流响</span><a href="https://www.xbiquge.la/82/82620/">不科学御兽</a></dt>
							<dd> 这是一个以御兽为主流的异世界。当时宇携带技能图鉴穿越到这里，并培育出一堆奇葩宠兽后，所有御兽师的三观都破碎了……关键词：御兽、宠兽、宠物、召唤。</dd>
						</dl>
						<div class="clear"></div>
					</div>


					<div class="item">
						<div class="image"><a
								href="https://www.xbiquge.la/56/56523/"><img src="https://www.xbiquge.la/files/article/image/56/56523/56523s.jpg" alt="剑道第一仙"  width="120" height="150" /></a>
						</div>
						<dl>
							<dt><span>萧瑾瑜</span><a href="https://www.xbiquge.la/56/56523/">剑道第一仙</a></dt>
							<dd> 我是万古人间一剑修，诸天之上第一仙。已有完本作品《符皇》《天骄战纪》公众号：xiaojinyu233</dd>
						</dl>
						<div class="clear"></div>
					</div>


					<div class="item">
						<div class="image"><a
								href="https://www.xbiquge.la/25/25858/"><img src="https://www.xbiquge.la/files/article/image/25/25858/25858s.jpg" alt="夜的命名术"  width="120" height="150" /></a>
						</div>
						<dl>
							<dt><span>会说话的肘子</span><a href="https://www.xbiquge.la/25/25858/">夜的命名术</a></dt>
							<dd> 蓝与紫的霓虹中，浓密的钢铁苍穹下，数据洪流的前端，是科技革命之后的世界，也是现实与虚幻的分界。
								钢铁与身体，过去与未来。这里，表世界与里世界并存，面前的一切，像是时间之墙近在眼前。 黑暗逐渐笼罩。可你要明白啊我的朋友，我们不能用温...</dd>
						</dl>
						<div class="clear"></div>
					</div>

				</div>


				<div class="r">
					<h2>公告牌</h2>
					<ul>
						<li><span class="s1">[公告]</span><span class="s2"><a href="https://www.xbiquge.la/newmessage.php?tosys=1" target="_blank" rel="nofollow" >发现章节未及时更新请联系我们</a></span>
						</li>
					</ul>
					<h2>上期强推</h2>
					<ul>
						<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/0/951/">伏天氏</a></span><span class="s5">净无痕</span>
						</li>
						<li><span class="s1">[修真]</span><span class="s2"><a href="https://www.xbiquge.la/15/15719/">大数据修仙</a></span><span class="s5">陈风笑</span>
						</li>
						<li><span class="s1">[穿越]</span><span class="s2"><a href="https://www.xbiquge.la/29/29136/">极品贴身家丁</a></span><span class="s5">紫微</span>
						</li>
						<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/32/32626/">叶辰孙怡夏若雪</a></span><span class="s5">全文免费阅读</span>
						</li>
						<li><span class="s1">[穿越]</span><span class="s2"><a href="https://www.xbiquge.la/31/31566/">数风流人物</a></span><span class="s5">瑞根</span>
						</li>
						<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/0/10/">武炼巅峰</a></span><span class="s5">莫默</span>
						</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>


			<div class="dahengfu">
				<script>
					bannerindex();
				</script>
			</div>

			<script src="https://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>

			<div class="novelslist">

				<div class="content">
					<h2>玄幻小说</h2>
					<div class="top">
						<div class="image">
							<img src="https://www.xbiquge.la/files/article/image/32/32626/32626s.jpg" alt="叶辰孙怡夏若雪"  width="67" height="82" /></div>
							<dl>
								<dt><a href="https://www.xbiquge.la/32/32626/">叶辰孙怡夏若雪</a></dt>
								<dd> 五年前，叶家被灭，废物叶辰神秘失踪。五年后，那个叶家废物回来了！ 带着一身通天地泣鬼神的修为回来了！这一次，叶辰要让苍天敬畏！要让大地颤抖！
									要执掌一切，登临苍穹之巅！</dd>
							</dl>
							<div class="clear"></div>
						</div>
						<ul>
							<li><a href="https://www.xbiquge.la/0/745/">雪中悍刀行</a>/烽火戏诸侯</li>
							<li><a href="https://www.xbiquge.la/84/84419/">星门</a>/老鹰吃小鸡</li>
							<li><a href="https://www.xbiquge.la/7/7877/">斗破苍穹</a>/天蚕土豆</li>
							<li><a href="https://www.xbiquge.la/24/24770/">斗罗大陆5重生唐三</a>/唐家三少</li>
							<li><a href="https://www.xbiquge.la/0/951/">伏天氏</a>/净无痕</li>
							<li><a href="https://www.xbiquge.la/55/55945/">万相之王</a>/天蚕土豆</li>
							<li><a href="https://www.xbiquge.la/41/41495/">全属性武道</a>/莫入江湖</li>
							<li><a href="https://www.xbiquge.la/75/75688/">人族镇守使</a>/白驹易逝</li>
							<li><a href="https://www.xbiquge.la/35/35356/">天启预报</a>/风月</li>
							<li><a href="https://www.xbiquge.la/8/8345/">完美世界</a>/辰东</li>
							<li><a href="https://www.xbiquge.la/82/82620/">不科学御兽</a>/轻泉流响</li>
							<li><a href="https://www.xbiquge.la/6/6318/">全球高武</a>/老鹰吃小鸡</li>
						</ul>
					</div>

					<div class="content">
						<h2>修真小说</h2>
						<div class="top">
							<div class="image">
								<img src="https://www.xbiquge.la/files/article/image/63/63514/63514s.jpg" alt="赤心巡天" alt="赤心巡天"  width="67" height="82" /></div>
								<dl>
									<dt><a href="https://www.xbiquge.la/63/63514/">赤心巡天</a></dt>
									<dd> 山河千里写伏尸，乾坤百年描恶虎。 天地至公如无情， 我有赤心一颗，以巡天。 —————— 欢迎来到，情何以甚的仙侠世界。 ——————
										赤心营（书友群）：879927532...</dd>
								</dl>
								<div class="clear"></div>
							</div>
							<ul>
								<li><a href="https://www.xbiquge.la/84/84265/">大魏读书人</a>/七月未时</li>
								<li><a href="https://www.xbiquge.la/48/48867/">弃宇宙</a>/鹅是老五</li>
								<li><a href="https://www.xbiquge.la/0/215/">魔天记</a>/忘语</li>
								<li><a href="https://www.xbiquge.la/21/21210/">恐怖复苏</a>/佛前献花</li>
								<li><a href="https://www.xbiquge.la/15/15977/">大梦主</a>/忘语</li>
								<li><a href="https://www.xbiquge.la/4/4209/">半仙</a>/跃千愁</li>
								<li><a href="https://www.xbiquge.la/14/14059/">永恒圣王</a>/雪满弓刀</li>
								<li><a href="https://www.xbiquge.la/6/6819/">仙逆</a>/耳根</li>
								<li><a href="https://www.xbiquge.la/87/87694/">活在影视诸天</a>/半步武林</li>
								<li><a href="https://www.xbiquge.la/87/87983/">太监能有什么坏心思</a>/小小部长</li>
								<li><a href="https://www.xbiquge.la/82/82819/">我用闲书成圣人</a>/出走八万里</li>
								<li><a href="https://www.xbiquge.la/80/80763/">我只想安静的做个苟道中人</a>/爆炸小拿铁</li>
							</ul>
						</div>



						<div class="content border">
							<h2>都市小说</h2>
							<div class="top">
								<div class="image">
									<img src="https://www.xbiquge.la/files/article/image/32/32522/32522s.jpg" alt="史上最强炼气期"  width="67" height="82" /></div>
									<dl>
										<dt><a href="https://www.xbiquge.la/32/32522/">史上最强炼气期</a></dt>
										<dd> 修炼了将近五千年的方羽，还是没有突破炼气期…… “我真的只有炼气期，但你们别惹我！”喜欢本书的读者记得点击追书或收藏哦~</dd>
									</dl>
									<div class="clear"></div>
								</div>
								<ul>
									<li><a href="https://www.xbiquge.la/1/1394/">黄金瞳</a>/打眼</li>
									<li><a href="https://www.xbiquge.la/7/7552/">万古神帝</a>/飞天鱼</li>
									<li><a href="https://www.xbiquge.la/2/2449/">不良之谁与争锋</a>/抚琴的人</li>
									<li><a href="https://www.xbiquge.la/0/181/">梦幻香江</a>/王梓钧</li>
									<li><a href="https://www.xbiquge.la/63/63436/">全职艺术家</a>/我最白</li>
									<li><a href="https://www.xbiquge.la/67/67950/">我每周随机一个新职业</a>/无右</li>
									<li><a href="https://www.xbiquge.la/47/47499/">许你两世相顾</a>/之子言归</li>
									<li><a href="https://www.xbiquge.la/31/31439/">叶凡唐若雪医婿</a>/叶凡</li>
									<li><a href="https://www.xbiquge.la/20/20948/">最佳女婿</a>/林羽江颜</li>
									<li><a href="https://www.xbiquge.la/0/597/">特种兵在都市</a>/夜十三</li>
									<li><a href="https://www.xbiquge.la/84/84082/">回到九零，她在外科大佬圈火爆了</a>/肥妈向善</li>
									<li><a href="https://www.xbiquge.la/30/30581/">顶级神豪</a>/北辰本尊</li>
								</ul>
							</div>


							<div class="clear"></div>
						</div>

						<div class="novelslist">

							<div class="content">
								<h2>穿越小说</h2>
								<div class="top">
									<div class="image">
										<img src="https://www.xbiquge.la/files/article/image/19/19588/19588s.jpg" alt="如意小郎君"  width="67" height="82" /></div>
										<dl>
											<dt><a href="https://www.xbiquge.la/19/19588/">如意小郎君</a></dt>
											<dd> 21世纪双料硕士，魂穿古代。 没有戒指，没有系统，没有白胡子老爷爷，连关于这个世界的记忆都没有……
												贼老天，开局什么都没有，连自己是谁都不知道，这让我怎么玩？ 腹中饥饿难耐，心里郁闷透顶，唐宁忍不住抬头竖起中指：“贼……” ...</dd>
										</dl>
										<div class="clear"></div>
									</div>
									<ul>
										<li><a href="https://www.xbiquge.la/28/28056/">小阁老</a>/三戒大师</li>
										<li><a href="https://www.xbiquge.la/0/445/">神话版三国</a>/坟土荒草</li>
										<li><a href="https://www.xbiquge.la/16/16401/">三国之巅峰召唤</a>/流香千古</li>
										<li><a href="https://www.xbiquge.la/0/885/">赘婿</a>/愤怒的香蕉</li>
										<li><a href="https://www.xbiquge.la/80/80231/">大唐开局震惊李世民</a>/九剑本尊</li>
										<li><a href="https://www.xbiquge.la/15/15550/">穷鬼的上下两千年</a>/非玩家角色</li>
										<li><a href="https://www.xbiquge.la/0/670/">大世争锋</a>/水鬼游魂</li>
										<li><a href="https://www.xbiquge.la/64/64336/">捡到一只始皇帝</a>/历史系之狼</li>
										<li><a href="https://www.xbiquge.la/82/82127/">从今天开始做藩王</a>/背着家的蜗牛</li>
										<li><a href="https://www.xbiquge.la/20/20250/">新书</a>/七月新番</li>
										<li><a href="https://www.xbiquge.la/56/56100/">日月风华</a>/沙漠</li>
										<li><a href="https://www.xbiquge.la/82/82746/">吕布的人生模拟器</a>/会说话的胡子</li>
									</ul>
								</div>

								<div class="content">
									<h2>网游小说</h2>
									<div class="top">
										<div class="image">
											<img src="https://www.xbiquge.la/files/article/image/65/65316/65316s.jpg" alt="从火影开始做幕后黑手"  width="67" height="82" /></div>
											<dl>
												<dt><a href="https://www.xbiquge.la/65/65316/">从火影开始做幕后黑手</a></dt>
												<dd> 木叶历56年，晓组织多了两个成员，其中一个叫宇智波鼬，另一个叫上原奈落。 他，是个影帝。他，是个挂比。（简介无力）</dd>
											</dl>
											<div class="clear"></div>
										</div>
										<ul>
											<li><a href="https://www.xbiquge.la/52/52743/">我真的只是想打铁</a>/静悄悄地写</li>
											<li><a href="https://www.xbiquge.la/64/64397/">海贼之苟到大将</a>/咸鱼军头</li>
											<li><a href="https://www.xbiquge.la/86/86301/">精灵世界的底层训练家</a>/说唱鸽</li>
											<li><a href="https://www.xbiquge.la/0/487/">天王殿</a>/夏天周婉秋</li>
											<li><a href="https://www.xbiquge.la/90/90903/">宝可梦修改器</a>/骑车的风</li>
											<li><a href="https://www.xbiquge.la/52/52794/">柯南之我不是蛇精病</a>/烟火酒颂</li>
											<li><a href="https://www.xbiquge.la/82/82818/">NBA：开局一张三分体验卡</a>/一江秋月</li>
											<li><a href="https://www.xbiquge.la/89/89995/">黑暗塔防游戏</a>/会说话的笔筒</li>
											<li><a href="https://www.xbiquge.la/71/71834/">女教授的日常小男友</a>/一吻余生</li>
											<li><a href="https://www.xbiquge.la/89/89522/">我，君麻吕，要长生！</a>/墨渊九砚</li>
											<li><a href="https://www.xbiquge.la/29/29439/">妖龙古帝</a>/遥望南山</li>
											<li><a href="https://www.xbiquge.la/82/82651/">加一个，我不太会打</a>/葛洛夫街兄弟</li>
										</ul>
									</div>

									<div class="content border">
										<h2>科幻小说</h2>
										<div class="top">
											<div class="image">
												<img src="https://www.xbiquge.la/files/article/image/15/15006/15006s.jpg" alt="轮回乐园"  width="67" height="82" /></div>
												<dl>
													<dt><a href="https://www.xbiquge.la/15/15006/">轮回乐园</a></dt>
													<dd> 机遇与危险共存，只要豁出性命，在轮回乐园中就能得到一切。
														被轮回乐园选中成为‘猎杀者’的那一刻，苏晓就明白，他将与所有人为敌。
														乐园虽然残酷，但无所不能……。
													</dd>
												</dl>
												<div class="clear"></div>
											</div>
											<ul>
												<li><a href="https://www.xbiquge.la/70/70924/">在生存游戏做锦鲤</a>/夏季稻谷香</li>
												<li><a href="https://www.xbiquge.la/68/68796/">漫游在影视世界</a>/不是马里奥</li>
												<li><a href="https://www.xbiquge.la/70/70692/">宇宙职业选手</a>/我吃西红柿</li>
												<li><a href="https://www.xbiquge.la/81/81471/">逐道在诸天</a>/新海月1</li>
												<li><a href="https://www.xbiquge.la/20/20853/">踏星</a>/随散飘风</li>
												<li><a href="https://www.xbiquge.la/11/11433/">黎明之剑</a>/远瞳</li>
												<li><a href="https://www.xbiquge.la/74/74020/">主神挂了</a>/李古丁</li>
												<li><a href="https://www.xbiquge.la/79/79427/">复活帝国</a>/火中物</li>
												<li><a href="https://www.xbiquge.la/38/38488/">我的细胞监狱</a>/穿黄衣的阿肥</li>
												<li><a href="https://www.xbiquge.la/70/70732/">全球神祇时代</a>/一夕成道</li>
												<li><a href="https://www.xbiquge.la/92/92700/">风起龙城</a>/伪戒</li>
												<li><a href="https://www.xbiquge.la/82/82733/">吞噬星空之万物之主</a>/天欲飞霜</li>
											</ul>
										</div>
										<div class="clear"></div>
									</div>



									<div id="newscontent">

										<div class="l">
											<h2>最近更新小说列表</h2>
											<ul>

												<li><span class="s1">[其他小说]</span><span class="s2"><a href="https://www.xbiquge.la/86/86120/" target="_blank">大佬他不会追人怎么办</a></span><span class="s3"><a href="/86/86120/35983051.html" target="_blank">第两百七十五章 受伤</a></span><span class="s4">青叶</span>
												</li>

												<li><span class="s1">[其他小说]</span><span class="s2"><a href="https://www.xbiquge.la/81/81392/" target="_blank">穿书之麻瓜炮灰不想死</a></span><span class="s3"><a href="/81/81392/35983055.html" target="_blank">第227章 别演了</a></span><span class="s4">江南漂流猪</span>
												</li>

												<li><span class="s1">[科幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/90/90823/" target="_blank">欢迎来到极恶万界</a></span><span class="s3"><a href="/90/90823/35983052.html" target="_blank">第三百六十一章</a></span><span class="s4">马的野望</span>
												</li>

												<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/85/85607/" target="_blank">末日天穹</a></span><span class="s3"><a href="/85/85607/35983070.html" target="_blank">第二百五十五章 建立特殊小队</a></span><span class="s4">御风山君</span>
												</li>

												<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/75/75709/" target="_blank">植灵女王升级记</a></span><span class="s3"><a href="/75/75709/35983079.html" target="_blank">第六百三十六章 嫉妒（这是今天的）</a></span><span class="s4">彩虹鱼</span>
												</li>

												<li><span class="s1">[网游小说]</span><span class="s2"><a href="https://www.xbiquge.la/91/91891/" target="_blank">我做噩梦能变强</a></span><span class="s3"><a href="/91/91891/35983057.html" target="_blank">第637章</a></span><span class="s4">头发掉了</span>
												</li>

												<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/91/91664/" target="_blank">无上神途</a></span><span class="s3"><a href="/91/91664/35983076.html" target="_blank">第200章 苏迷馨（万字大章）</a></span><span class="s4">男人不潇洒</span>
												</li>

												<li><span class="s1">[其他小说]</span><span class="s2"><a href="https://www.xbiquge.la/93/93777/" target="_blank">九幽武姬</a></span><span class="s3"><a href="/93/93777/35983058.html" target="_blank">第042章 落风城-换骨</a></span><span class="s4">嗜情九幽</span>
												</li>

												<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.xbiquge.la/92/92056/" target="_blank">灵气复苏：我，地表最强天赋，被校花曝光！</a></span><span class="s3"><a href="/92/92056/35983071.html" target="_blank">第六十七章:快把灵气果吐出来，我要吃！</a></span><span class="s4">阿瑞想起飞</span>
												</li>

												<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/87/87353/" target="_blank">神秘复苏：我，人族镇守使</a></span><span class="s3"><a href="/87/87353/35983082.html" target="_blank">第二百一十八章 水下洞天，妖兽群</a></span><span class="s4">夜无声</span>
												</li>

												<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.xbiquge.la/85/85099/" target="_blank">跨越十二年的对话</a></span><span class="s3"><a href="/85/85099/35983049.html" target="_blank">第三八七章允儿作死之旅</a></span><span class="s4">左岸逆行</span>
												</li>

												<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.xbiquge.la/91/91585/" target="_blank">轻井泽</a></span><span class="s3"><a href="/91/91585/35983060.html" target="_blank">第307章 记忆</a></span><span class="s4">碧蕊白莲</span>
												</li>

												<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/9/9940/" target="_blank">被揍就能变强</a></span><span class="s3"><a href="/9/9940/35983072.html" target="_blank">第195章 雷神降世</a></span><span class="s4">新丰</span>
												</li>

												<li><span class="s1">[网游小说]</span><span class="s2"><a href="https://www.xbiquge.la/92/92254/" target="_blank">从流星蝴蝶剑开始</a></span><span class="s3"><a href="/92/92254/35983046.html" target="_blank">第一百二十二章、一半财富</a></span><span class="s4">澹台三问</span>
												</li>

												<li><span class="s1">[修真小说]</span><span class="s2"><a href="https://www.xbiquge.la/75/75327/" target="_blank">修仙签到百倍奖励</a></span><span class="s3"><a href="/75/75327/35983056.html" target="_blank">第387章傀儡！</a></span><span class="s4">房产大亨</span>
												</li>

												<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.xbiquge.la/93/93988/" target="_blank">奉我为王</a></span><span class="s3"><a href="/93/93988/35983054.html" target="_blank">第25章  以后别再搞这些小动作</a></span><span class="s4">文君故里</span>
												</li>

												<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/89/89605/" target="_blank">我的武功会挂机</a></span><span class="s3"><a href="/89/89605/35983066.html" target="_blank">第六章 大劫与天命</a></span><span class="s4">自娱的愚者</span>
												</li>

												<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/93/93246/" target="_blank">二次重生后，黑化医妃她只想搞钱</a></span><span class="s3"><a href="/93/93246/35983068.html" target="_blank">第五十九章 早膳</a></span><span class="s4">凉凉柒</span>
												</li>

												<li><span class="s1">[科幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/87/87652/" target="_blank">我能换取各种宝物</a></span><span class="s3"><a href="/87/87652/35983078.html" target="_blank">第三百六十七章 他没死？</a></span><span class="s4">贪杯的猫</span>
												</li>

												<li><span class="s1">[科幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/88/88333/" target="_blank">拜师九叔，开局加入聊天群</a></span><span class="s3"><a href="/88/88333/35983045.html" target="_blank">第三百零五章</a></span><span class="s4">缘封</span>
												</li>

												<li><span class="s1">[其他小说]</span><span class="s2"><a href="https://www.xbiquge.la/92/92062/" target="_blank">洞房夜，末世娇娘力气大，按住相公要亲亲</a></span><span class="s3"><a href="/92/92062/35983067.html" target="_blank">第一百五十六章小孩子只能喝奶</a></span><span class="s4">倚窗听鸣</span>
												</li>

												<li><span class="s1">[修真小说]</span><span class="s2"><a href="https://www.xbiquge.la/82/82872/" target="_blank">大景镇玄司</a></span><span class="s3"><a href="/82/82872/35983061.html" target="_blank">第八百五十四章 明知陷阱，也要前行</a></span><span class="s4">藏花主人</span>
												</li>

												<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.xbiquge.la/91/91952/" target="_blank">七个姐姐美貌动人</a></span><span class="s3"><a href="/91/91952/35983065.html" target="_blank">第二百六十四章一个手掌印</a></span><span class="s4">布道僧</span>
												</li>

												<li><span class="s1">[穿越小说]</span><span class="s2"><a href="https://www.xbiquge.la/67/67290/" target="_blank">带个地道系统打鬼子</a></span><span class="s3"><a href="/67/67290/35983074.html" target="_blank">第一千五百一十八章 战斗结束！回国！</a></span><span class="s4">拉风狂人扫天</span>
												</li>

												<li><span class="s1">[修真小说]</span><span class="s2"><a href="https://www.xbiquge.la/21/21214/" target="_blank">一剑倾国</a></span><span class="s3"><a href="/21/21214/35983075.html" target="_blank">63、暗语之庭</a></span><span class="s4">一介白衣</span>
												</li>

												<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/73/73167/" target="_blank">海兰萨领主</a></span><span class="s3"><a href="/73/73167/35983050.html" target="_blank">872.致敬自由</a></span><span class="s4">海逸小猪</span>
												</li>

												<li><span class="s1">[穿越小说]</span><span class="s2"><a href="https://www.xbiquge.la/84/84689/" target="_blank">一梦入大唐</a></span><span class="s3"><a href="/84/84689/35983048.html" target="_blank">第三百七十九章 双环</a></span><span class="s4">胖哥老李</span>
												</li>

												<li><span class="s1">[玄幻小说]</span><span class="s2"><a href="https://www.xbiquge.la/0/131/" target="_blank">雷武</a></span><span class="s3"><a href="/0/131/35983053.html" target="_blank">第一千九百二十六章 上界资源</a></span><span class="s4">中下马笃</span>
												</li>

												<li><span class="s1">[穿越小说]</span><span class="s2"><a href="https://www.xbiquge.la/70/70670/" target="_blank">穿越之继妻不好当</a></span><span class="s3"><a href="/70/70670/35983077.html" target="_blank">第760章、都在等</a></span><span class="s4">如若珍惜</span>
												</li>

												<li><span class="s1">[都市小说]</span><span class="s2"><a href="https://www.xbiquge.la/73/73978/" target="_blank">偷心保镖</a></span><span class="s3"><a href="/73/73978/35983059.html" target="_blank">第1394章 高冷的温柔</a></span><span class="s4">房东老才</span>
												</li>

											</ul>
										</div>



										<div class="r">
											<h2>最新入库小说</h2>
											<ul>
												<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/94/94149/">十方至尊</a></span><span class="s5">锦衣需夜行</span>
												</li>
												<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/94/94142/">九千剑帝</a></span><span class="s5">君亦剑</span>
												</li>
												<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/94/94151/">沈家嫡女退婚后，禁欲残王破戒了</a></span><span class="s5">朝辞暮</span>
												</li>
												<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/94/94132/">神隐末地</a></span><span class="s5">想睡觉的西谷</span>
												</li>
												<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/94/94137/">穿越之极品虞姬</a></span><span class="s5">黑色之墓</span>
												</li>
												<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.xbiquge.la/94/94140/">最强读心高手</a></span><span class="s5">胡九道</span>
												</li>
												<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/94/94144/">人间畏途</a></span><span class="s5">挥手长相谢</span>
												</li>
												<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/94/94146/">苍鹰1残余的光明</a></span><span class="s5">寒气之月</span>
												</li>
												<li><span class="s1">[科幻]</span><span class="s2"><a href="https://www.xbiquge.la/94/94153/">萌妹反转三国</a></span><span class="s5">暧昧宝宝</span>
												</li>
												<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/94/94155/">此刻，我为地狱之主</a></span><span class="s5">孤峰晓月</span>
												</li>
												<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/94/94139/">源浮录</a></span><span class="s5">初英</span>
												</li>
												<li><span class="s1">[网游]</span><span class="s2"><a href="https://www.xbiquge.la/94/94159/">网游：三国，我的农民超级猛</a></span><span class="s5">机械蚊子</span>
												</li>
												<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/94/94157/">仙道长明</a></span><span class="s5">夜如明</span>
												</li>
												<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.xbiquge.la/94/94150/">天才销售王</a></span><span class="s5">红叶飘</span>
												</li>
												<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/94/94158/">总裁又在跪榴莲</a></span><span class="s5">乔以璘</span>
												</li>
												<li><span class="s1">[修真]</span><span class="s2"><a href="https://www.xbiquge.la/94/94134/">大明剑尊</a></span><span class="s5">再见神乐</span>
												</li>
												<li><span class="s1">[修真]</span><span class="s2"><a href="https://www.xbiquge.la/94/94147/">御龙玄镜隐</a></span><span class="s5">苏青鱼</span>
												</li>
												<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/94/94154/">玄幻：氪金的我，独断万古</a></span><span class="s5">椰椰椰</span>
												</li>
												<li><span class="s1">[其他]</span><span class="s2"><a href="https://www.xbiquge.la/94/94152/">修仙：种菜十年我无敌了！</a></span><span class="s5">楼下听雨</span>
												</li>
												<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.xbiquge.la/94/94148/">超级律师系统</a></span><span class="s5">东城令</span>
												</li>
												<li><span class="s1">[科幻]</span><span class="s2"><a href="https://www.xbiquge.la/94/94156/">星空之下的守护者</a></span><span class="s5">此意相思难解</span>
												</li>
												<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/94/94135/">从血族始祖开始</a></span><span class="s5">幕凉</span>
												</li>
												<li><span class="s1">[穿越]</span><span class="s2"><a href="https://www.xbiquge.la/94/94138/">黄巢大起义：盛世唐朝的终结杀手</a></span><span class="s5">鹏大将军</span>
												</li>
												<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/94/94136/">快穿：年代文炮灰要逆袭</a></span><span class="s5">非非不是鱼</span>
												</li>
												<li><span class="s1">[都市]</span><span class="s2"><a href="https://www.xbiquge.la/94/94145/">诡秘：开局我复活了神明！</a></span><span class="s5">恒乙</span>
												</li>
												<li><span class="s1">[修真]</span><span class="s2"><a href="https://www.xbiquge.la/94/94141/">大道逍遥行</a></span><span class="s5">耐打混混</span>
												</li>
												<li><span class="s1">[修真]</span><span class="s2"><a href="https://www.xbiquge.la/94/94160/">绝世武唐</a></span><span class="s5">翱翔的豆虫</span>
												</li>
												<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/94/94143/">灵气复苏之暴力法神</a></span><span class="s5">将军冢</span>
												</li>
												<li><span class="s1">[玄幻]</span><span class="s2"><a href="https://www.xbiquge.la/94/94131/">大巫教主</a></span><span class="s5">孤独的灰太狼</span>
												</li>
												<li><span class="s1">[修真]</span><span class="s2"><a href="https://www.xbiquge.la/94/94133/">蚍蜉亦知四季</a></span><span class="s5">青丝吹白发</span>
												</li>

											</ul>

										</div>
										<div class="clear"></div>

									</div>
								</div>

							</div>

							<div id="firendlink">
								友情连接：<a href="https://www.xbiquge.la/" target="_blank">新白鹿书院</a>
								<a href="https://www.xbiquge.la/2/2210/" target="_blank">全职法师</a>
								<a href="https://www.xbiquge.la/1/1089/" target="_blank">妖魔战神</a>
								<a href="https://www.xbiquge.la/0/69/" target="_blank">帝霸</a>

								<a href="https://www.xbiquge.la/1/1064/" target="_blank">原始战记</a>
								<a href="https://www.xbiquge.la/3/3844/" target="_blank">御天神帝</a>

								</a>
								<a href="http://www.hebaoge.com/" target="_blank"> 荷包网</a>
								</a>
								<a href="http://www.zgls5000.net" target="_blank"> 中国历史网
								</a>
								<div class="dahengfu">
									<script type="text/javascript">
										bottom();
									</script>
								</div>

								<div class="footer">
									<div class="footer_link"></div>
									<div class="footer_cont">

										<script>
											footer();right();dl();
										</script>
										<script charset="utf-8" src="//www.baidu.com/js/opensug.js"></script>
									</div>
								</div>
								<script>
									(function(){
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
								</script>
								<script>
									(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
								</script>




							</div>
</body>

</html>